<a href="https://colab.research.google.com/github/1911521010UlfatmiHanifa/Kelompok7-APM/blob/main/Algo_Eclat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [29]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [31]:
ds = pd.read_csv('groceries.csv', on_bad_lines='skip')
transactions = []
for i in range(0, 6105):
  transactions.append([str(ds.values[i,j]) for j in range(0, 3)])

In [32]:
#training eclat model to the dataset
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

In [33]:
#Displaying the first results coming directly from the output of the apriori function
results = list(rules)
results

[RelationRecord(items=frozenset({'liquor', 'bottled beer'}), support=0.005896805896805897, ordered_statistics=[OrderedStatistic(items_base=frozenset({'liquor'}), items_add=frozenset({'bottled beer'}), confidence=0.5714285714285715, lift=9.557729941291587)]),
 RelationRecord(items=frozenset({'white wine', 'bottled water'}), support=0.0034398034398034397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'white wine'}), items_add=frozenset({'bottled water'}), confidence=0.22580645161290322, lift=3.646953405017921)])]

In [34]:
#Putting the results well organised into a Pandas DataFrame
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidence  = [result[2][0][2] for result in results]
    lift  = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidence, lift))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Product 1', 'Product 2', 'Support', 'Confidence', 'Lift'])

In [35]:
#Displaying the results sorted by descending supports
resultsinDataFrame.nlargest(n = 10, columns = 'Support')

    Product 1      Product 2   Support  Confidence      Lift
0      liquor   bottled beer  0.005897    0.571429  9.557730
1  white wine  bottled water  0.003440    0.225806  3.646953