<a href="https://colab.research.google.com/github/1911521010UlfatmiHanifa/Kelompok7-APM/blob/main/Algo_Eclat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=ed647cea9a5547f93d54c71504c1d55acdec0c0680156b7bc954c08c5ce0d41c
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
ds = pd.read_csv('groceries.csv', on_bad_lines='skip')
ds

,citrus fruit,semi-finished bread,margarine,ready soups
0,tropical fruit,yogurt,coffee,NaN
1,whole milk,NaN,NaN,NaN
2,pip fruit,yogurt,cream cheese,meat spreads
3,other vegetables,whole milk,condensed milk,long life bakery product
4,rolls/buns,NaN,NaN,NaN
...,...,...,...,...
6100,yogurt,long life bakery product,NaN,NaN
6101,pork,frozen vegetables,pastry,NaN
6102,ice cream,long life bakery product,specialty chocolate,specialty bar
6103,cooking chocolate,NaN,NaN,NaN
6104,semi-finished bread,bottled water,soda,bottled beer

In [8]:
transactions = []
for i in range(0, 6105):
  transactions.append([str(ds.values[i,j]) for j in range(0, 4)])

In [9]:
#training eclat model to the dataset
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

In [10]:
#Displaying the first results coming directly from the output of the apriori function
results = list(rules)
results

[RelationRecord(items=frozenset({'liquor', 'bottled beer'}), support=0.005896805896805897, ordered_statistics=[OrderedStatistic(items_base=frozenset({'liquor'}), items_add=frozenset({'bottled beer'}), confidence=0.5625, lift=8.458282019704432)]),
 RelationRecord(items=frozenset({'white wine', 'bottled water'}), support=0.0034398034398034397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'white wine'}), items_add=frozenset({'bottled water'}), confidence=0.2079207920792079, lift=3.1264936838511432)])]

In [14]:
#Putting the results well organised into a Pandas DataFrame
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidence  = [result[2][0][2] for result in results]
    lift  = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidence, lift))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Product 1', 'Product 2', 'Support', 'Confidence', 'Lift'])

In [15]:
#Displaying the results sorted by descending supports
resultsinDataFrame.nlargest(n = 10, columns = 'Support')

    Product 1      Product 2   Support  Confidence      Lift
0      liquor   bottled beer  0.005897    0.562500  8.458282
1  white wine  bottled water  0.003440    0.207921  3.126494